# Ignore everything by default
*

# Whitelist directories and files to track
!*/
!.gitignore
!*.yaml
!*.md
!*.txt
!*.sh
!blueprints/yngpadjuan/
!custom_components/
!dashboards/
!packages/
!python_scripts/
!themes/
!www/

# SENSITIVE DATA - NEVER TRACK THESE
secrets.yaml
known_devices.yaml
.ssh/
*.p12

# DYNAMIC & TEMPORARY FILES
automation.yaml
home-assistant.log*
home-assistant_v2.db*
zigbee.db*
ip_counts.yaml
tts/
.DS_Store
.storage/